<app-home></app-home>
<mat-toolbar>
  <span>Create Trends</span>
</mat-toolbar>

<mat-card>       
  <mat-card-title>    
      Details Needed for Trend Creation   
  </mat-card-title>    
  <mat-card-content>    
      <form>    
          <table>    
              <tr>    
                  <td>    
                    <mat-form-field class="full-width">
                      <mat-label>OpportunityId</mat-label>
                      <input  matInput type="number" placeholder="OpportunityId"  name="OpportunityId"  required>
                   </mat-form-field>   
                  </td>        
              </tr>    
              <tr>    
                  <td colspan="2">    
                    <mat-form-field class="full-width">
                      <mat-label>OppurtunityDescription</mat-label>
                      <input  matInput  placeholder="Description" name="Description"  required>
                   </mat-form-field>    
                  </td>    
              </tr>    
              
              <tr>    
                  <td>    
         <mat-form-field class="full-width">
          <mat-label>Location</mat-label>
          <input  matInput  placeholder="Location" name="Location"  required>
       </mat-form-field>     
                  </td>    
                     
              </tr>    
              <tr>    
                  <td colspan="2">    
                    <mat-form-field class="full-width">
                      <mat-label>Skills</mat-label>
                      <input  matInput  placeholder="Skills"  name="Skills"  required>
                   </mat-form-field> 
                  </td>    
              </tr>    
              <tr>    
                  <td colspan="2">    
                    <mat-form-field class="full-width">
                      <mat-label>OpeningCount</mat-label>
                      <input  matInput  placeholder="OpeningCount" name="OpeningCount"  required>
                   </mat-form-field>
                  </td>    
              </tr>  
              <tr>    
                <td colspan="2">    
                  <mat-form-field class="full-width">
                    <mat-label>ProjectDuration</mat-label>
                    <input  matInput  placeholder="ProjectDuration in Days" name="ProjectDuration"  required>
                 </mat-form-field>
                </td>    
            </tr>  
            <tr>    
              <td colspan="2">    
                <mat-form-field class="full-width">
                  <mat-label>Experience</mat-label>
                  <input  matInput  placeholder="Experience" name="Experience"  required>
               </mat-form-field> 
              </td>    
          </tr>  
          <tr>    
            <td colspan="2">    
              <mat-form-field class="full-width">
                <mat-label>ManagerName</mat-label>
                <input  matInput  placeholder="ManagerName" name="ManagerName"  required>
              </mat-form-field>
            </td>    
        </tr>  
        <tr>    
          <td colspan="2">    
            <mat-form-field class="full-width">
              <mat-label>ManagerEmail</mat-label>
              <input  matInput type="email"  placeholder="ManagerEmail" name="ManagerEmail"  required>
            </mat-form-field> 
          </td>    
      </tr>  
              <tr>    
                  <td colspan="2" class="content-center">    
                      <button mat-raised-button color="primary" (click)="onCreate()">Create</button> &nbsp;&nbsp;&nbsp;   
                      <button mat-raised-button color="primary" type="reset">Clear</button>    
                  </td>    
              </tr>    
          </table>    
      </form>    
      
  </mat-card-content>    
</mat-card> 
