<mat-toolbar color="primary">
    <mat-toolbar-row>
       <span><a href="/"> <img src="assets/img/accolite-logo.jpg" alt="MS-logo" width="180" height="70"></a></span>
       <span class="spacer"></span>
       <a  mat-button  routerLink="/trends">Trends</a>
          <a  mat-button  routerLink="/viewtrends">Opportunity</a>
          <a  mat-button  routerLink="/home">Logout</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar>
    Trends&nbsp;&nbsp;&nbsp; 
  </mat-toolbar>
  <mat-card>
    <div>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
  </mat-card>

