<mat-toolbar color="primary">
  <mat-toolbar-row>
     <span><a href="/"> <img src="assets/img/accolite-logo.jpg" alt="MS-logo" width="180" height="70"></a></span>
     <span class="spacer"></span>
     
        
        <a  mat-button  routerLink="/viewtrends">Opportunity</a>
     
     <a  mat-button  routerLink="/login"><mat-icon>supervised_user_circle</mat-icon>User</a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-div">
<mat-card>
  <mat-card-title><span>Welcome to the Opportunity Management Portal</span></mat-card-title><br><br>
  <mat-card-content><span>Want to know more about Accolite</span> </mat-card-content>
  <a mat-button color="primary" href="http://accolite.com/" target="_blank">Click here</a>
</mat-card>
</div>